body {
  margin: 0;
  font-family: "Averta", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.border_checkout {
  border: 1px solid rgb(191, 191, 191);
  border-radius: 4px;
  margin-bottom: 16px;
  padding: 16px;
  background-color: white;
}

.heading {
  color: rgb(38, 38, 38);
  display: inline;
  line-height: 1.25;
  font-weight: 600;
  font-size: 20px;
  float: left;
  text-align: left;
  margin-bottom: 15px;
}

p {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: rgba(38, 38, 38, 0.65);
  text-align: left;
}

.ticket-box {
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 4px 4px 0px,
    rgba(0, 0, 0, 0.12) 0px 0px 4px 0px;
  margin-bottom: 10px;
  max-height: 600px;
  transition: box-shadow 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s,
    margin-bottom 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s,
    max-height 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s,
    margin-bottom 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s;
}

.date_style {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  text-transform: uppercase;
  color: rgb(144, 78, 186);
}
.time_style {
  font-weight: 400;
  line-height: 1.5;
  text-transform: none;
  color: rgba(38, 38, 38, 0.65);
}
.ticket_name {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  text-transform: none;
  color: rgb(38, 38, 38);
}
.ticket_description {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  text-transform: none;
  color: rgb(2, 108, 223);
  text-align: left;
}
.ticket_venue {
  color: rgba(38, 38, 38, 0.65);
  line-height: normal;
  margin: 0px;
  text-align: left;
}
.venue {
  font-size: 12px;
  font-weight: 600;
  line-height: 1.5;
  text-transform: uppercase;
  text-align: left;
}
.row_organize {
  padding: 25px;
  margin: 25px;
}

.btn_tickets {
  font-size: 14px;
  line-height: 2.43;
  width: 100%;
  padding: 0px 12px;
  min-width: 60px;
  text-align: center;
  border-radius: 2px;
  cursor: pointer;
  color: rgb(255, 255, 255);
  background-color: rgb(2, 108, 223);
  border: 1px solid transparent;
  transition: background-color 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s;
}

.img_arg {
  margin-bottom: 15px;
}

.menu_color {
  background-color: #004dc0;
}

.card_type {
  background-color: rgb(255, 255, 255);
  border-radius: 2px;
  font-size: 16px;
  height: 44px;
  margin-top: 4px;
  outline: none;
  padding: 4px 32px 4px 16px;
  width: 100%;
  text-align: left;
  border: 1px solid grey;
}
.card_title {
  font-family: Averta, "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
  color: rgb(38, 38, 38);
  text-align: left;
}
.order_button {
  font-family: inherit;
  font-weight: 600;
  font-size: 16px;
  line-height: 2.63;
  width: 100%;
  padding: 0px 14px;
  min-width: 60px;
  text-align: center;
  border-radius: 2px;
  cursor: pointer;
  color: rgb(255, 255, 255);
  background-color: rgb(27, 171, 30);
  border: 1px solid transparent;
  transition: background-color 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s;
}
.card_img {
  display: inline-block;
  border-radius: 2px;
  margin-top: 4px !important;
  width: 35px !important;
  min-width: 32px;
  margin: 0px 2px;
  float: left;
}
.payment_title {
  margin: 2px 0px;
  color: rgb(38, 38, 38);
  display: inline;
  line-height: 1.25;
  font-weight: 600;
  font-size: 20px;
  text-align: left !important;
  float: left !important;
}
.form_display {
  margin-top: 20px !important;
}

.total_title {
  font-family: "Averta", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  line-height: 1.4;
  color: #262626;
  font-weight: 600;
  cursor: pointer;
  font-size: 20px;
  text-align: left;
}
.total_amount {
  font-family: "Averta", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  line-height: 1.4;
  color: #262626;
  font-weight: 600;
  cursor: pointer;
  font-size: 20px;
  text-align: right;
}
.ticket_title {
  text-align: left;
  display: flex;
  width: 100%;
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 8px;
  line-height: 1.25;
  margin-top: 20px !important;
}

.payment_content {
  font-size: 14px;
  line-height: 1.29;
  font-family: "Averta", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  line-height: 1.4;
  color: #262626;
  animation: text-ali;
  text-align: left;
}
.float-left {
  text-align: left;
}
.float-right {
  text-align: right;
}
.margin_arg_top {
  margin-top: 20px !important;
}
.margin_n {
  margin: 10px 0px !important;
}
